header {
    width: 100%; /* Full width */
    position: fixed; /* Keeps it at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Make sure it stays above other content */
    background-color: #4056a1; /* Background color for the header */
 
}

nav {
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Center items vertically */
    padding: 1rem; /* Add some padding */
    width: 100%; /* Full width */
    justify-content: space-between;
}

nav a{
color: white;
font-size: large;
}

nav .right-hand-side{
gap:20px
}
/* link */
nav .right-hand-side a {
    margin-right: 20px; /* Space between links */
    color: white; /* Ensure the text color is white */
    text-decoration: none; /* Remove underline from links */
}
.notification-icon {
    position: relative;/* Make it a positioning context for the bubble */
    cursor: pointer;
}

#logo{
    /* border: 2px solid black; */
}


/* .notification-bell {
    position: relative;
  } */
  
  
  .notification-bubble {
    position: absolute; /* Make sure it is positioned relative to its container */
    top: -10px; /* Adjust positioning as needed */
    right: -12px; /* Adjust positioning as needed */
    background-color: red; /* Change color to your preference */
    color: white;
    border-radius: 50%; /* make it round */
    padding: 0px 8px; /* Adjust padding as needed */
    font-size: 12px; /* Change font size if needed */
    display: flex; /* Center text inside the bubble */
    justify-content: center;
    align-items: center;
}
