header {
    width: 100%; 
    position: fixed; /* Keeps it at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Make sure it stays above other content */
    background-color: #4056a1; /* Background color for the header */
 
}

nav {
    display: flex; 
    align-items: center; 
    padding: 1rem;
    width: 100%; 
    justify-content: space-between;
}

nav a{
color: white;
font-size: large;
}

nav .right-hand-side{
gap:20px
}
/* link */
nav .right-hand-side a {
    margin-right: 20px;
    color: white; /* text color */
    text-decoration: none; /* Remove underline from links */
}
.notification-icon {
    position: relative;/* Make it a positioning context for the bubble */
    cursor: pointer;
}

#logo{
    /* border: 2px solid black; */
}
  
.notification-bubble {
position: absolute; /* Make sure it is positioned relative to its container */
top: -10px; 
right: -12px; 
background-color: red;
color: white;
border-radius: 50%; /* Round */
padding: 0px 8px; 
font-size: 12px; 
display: flex; /* Center text inside the bubble */
justify-content: center;
align-items: center;
}
