.user-form-background{
    width: 100vw;
    height: max-content;
    background-color: #c5cbe33a;
    padding: 50px;
}

.form-content {
    display: flex;
    align-items: flex-start;
    width: 500px;
}

.profile-pic-container {
    padding-right: 20px; 
}

.form-fields-container {
    /* border: 2px solid coral; */
    padding: 20px;
    margin-left: 20px;
}

/* The label and input width */
.form-group {
    margin-bottom: 15px; 
    width:25em
}

button {
    margin-top: 10px; 
    padding: 10px 15px; 
}

/* For top margin between form and navbar */
.container{
    /* border: 2px solid coral; */
    margin-top: 100px;
}

/* Actual form */
.user-form-background .form {
    margin-top:100px;
    padding: 30px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 15px rgba(91, 79, 79, 0.586); 
    max-width: 800px;
    width:100%;
    padding-left:50px;
    max-width: 60em; 
    width: 100%; 
    margin: 0 auto; 
}

.user-form-background h1{
    margin-left: 0;
    padding-right: 30px;
}



