.user-profile{  
    margin-top: 100px;
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
}

.user-img-and-info{
    /* background-color: #efe2ba; */
    background-color:#c5cbe33a;
    width:100vw;
    margin-top: 10px;
    display: flex;
    gap: 5em;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border:2px solid coral; */
    height: 50%;
    background-image: url('../../images/4857721 - Copy.jpg'); 
    background-size: cover; /* Make the image cover the entire container */
    background-position:   center; 
    background-repeat: no-repeat; 
}

.user-details strong {
    font-family: 'Georgia', sans-serif;
    font-weight: 600; 
    color: #333; 
    font-size: 1.2em; 
    font-weight: 600; 
    margin-top: 1em; 
    margin-bottom: 5em !important; 
    border:2px solid coral;
}

.user-details span {
    font-family: 'Montserrat', sans-serif; 
    color: #555; 
}

#user-name{
    font-size: 4em;
    font-family: 'Lora', serif;
    color: #141618d5;
    margin-bottom: 10px;
}

.my-profile-event-list {
    margin-top: 0 !important;
    width:100vw;
    background-color: rgba(240, 255, 255, 0.1); 
    background-color:  #f9f9f9;
    padding-top: 80px;
}

.tabs {
    display: flex;
    margin:0 !important;
}

.tabs button {
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
}

.tabs button:hover {
    background-color: #e0e0e0; /* Darker on hover */
    border-color: #555;
}

.tabs .active {
    background-color: #7e8995; /* Active tab color */
    color: white; /* Text color for active tab */
}

.tabs button:not(.active) {
    border-radius: 0; /* Reset corners for non-active tabs */
}

.my-events-label{
     margin-bottom: 20px !important ;
    margin-top: 20px;
    font-size: 3em !important;
    /* border:2px solid coral; */
    padding:10px;
    background-color:  #d8d8d8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500; 
}

h3{
    font-size: 50em;
}

.user-details p{
    font-size:1.2em;
}

.icon-light {
    opacity: 0.5; 
}
