.event-list {
    margin-top: 120px !important;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; 
    width:100vw;
}

.eventTitle {
    font-family: 'Montserrat', sans-serif; 
    font-size: 3em; 
    margin-bottom: 20px; 
    color: #333; 
    margin-left: 10%;
}

.filter-search-city-state {
    display: flex;
    margin-bottom: 20px; 
    border-radius: 30px; 
    border: 2px solid #ccc; 
}

.filter-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px; 
    margin-left: 10%;
}

.eventListContainer {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* Set to 3 equal columns */
    gap: 50px !important; 
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    gap: 60px; 
    margin-left:5% !important;
}


/* Specific border-radius for inputs */
.filter-search-city-state input:first-child {
    border-radius: 30px 0 0 30px !important; /* Round left side for first input */
}

.filter-search-city-state input:not(:first-child):not(:last-child) {
    border-radius: 0; /* Straight corners for middle inputs */
}

.filter-search-city-state input:last-child {
    border-radius: 0 30px 30px 0; /* Round right side for last input */
} */

/* Message for no events found */
.eventListContainer p {
    font-size: 1.2em; /* Increase font size */
    color: #666; /* Lighter text color for better visibility */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Space above the message */
}


.filter-search-city-state input {
    padding: 10px; 
    border: 2px solid #ccc; 
    font-family: 'Roboto', sans-serif; 
    flex: 1; 
}

.search-container input {
    width: 300px; 
}


.filter-container label {
    font-family: 'Roboto', sans-serif; 
    color: #333; 
    cursor: pointer; 
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 20px;
}

 /* Create space between toggle button/checkbox and "Nearby Events" */
.filter-container label input {
    margin-right: 15px; /* Space between the checkbox and the text */
    cursor: pointer; 
    
}
