.event-details {
    margin-top: 100px;
    display: flex !important;
    flex-direction: column !important;
    width: 100vw !important;
    height: 100vh !important;
  }

 
.event-image img{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
    width: 50% !important; 
    height: 60vh !important;  
} 
.event-image {
    display: flex;
    justify-content: center;
    /* border: 2px solid coral; */
    background-color: rgba(175, 181, 186, 0.249);
  }

.event-details-content{
    margin: 1% 10% 0 10%;
    padding-bottom: 50px;
    font-family: Arial, sans-serif;
  }


  .event-date {
    font-size: 1.3em; 
    font-weight: 600; 
    margin: 0.5em 0; 
    color: rgba(57, 65, 72, 0.816); 
}

.event-title {
    font-size: 3em; 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.event-description {
    font-size: 1.2em; 
    font-weight: 400; 
    font-style: italic; 
    margin: 1em 0; 
}

.label {
    font-size: 1.2em; 
    font-weight: 600; 
    margin-top: 0.5em; 
}

.input-field {
    font-size: 1.1em; 
    padding: 0.3em; 
    width: 100%; 
    margin-bottom: 1em; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #6c757de1; /* Gray */
}

strong {
    font-weight: bold; 
}

#volunteer-list{
margin-right: 20px;
}

#contact-form-list{
    margin-right: 20px;
}

#get-involved{
margin-right: 20px;
}

#contact-organizer{
    margin-right: 20px;
}

.button-margin {
    margin-right: 30px; 
}

.title-and-share-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share-buttons {
    display: flex; /* Use flexbox for horizontal alignment NEEDED FOR GAP*/
    gap: 10px; /* This will add space between each button */
}
