.event-card {
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 15px; 
    cursor: pointer; 
    transition: transform 0.2s; /* Transition for hover effect */
}

/* Icon styles */
.event-card i {
    margin-right: 5px; /* Spacing between icon and text */
    color: #007BFF; /* Primary color for icons */
}

.eventImageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px; 
}

.event-image {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}
.my-events-label{
font-size: 35px;
align-self: flex-start;
margin-left: 40px;
margin-bottom: 50px;
margin-top: 50px;
}

